{% extends "base.html" %}

{% load static %}

{% block head %}
<title>Документация человека</title>
<link rel="stylesheet" crossorigin href="{% static 'css/home_page.css' %}">
<script type="module" crossorigin src="{% static 'js/home_page.js' %}"></script>
{% endblock %}

{% block main %}
<div class="container">
  <section class="documentation">
    <div class="documentation__container">
      <div class="documentation__main">
        <h1 class="documentation__title">{{documentation.title}}</h1>
        <p class="documentation__about">{{documentation.description}}</p>
      </div>
      <div class="main__video-player">
        <div class="documentation__video">
          <div class="video-player">
            <video src="/api/v1/stream/{{documentation.file}}" class="main-video" poster="media/{{documentation.image}}">
              <source src={{documentation.file}} type="video/mp4" />
            </video>
            <div class="progressAreaTime">progressAreaTime</div>
            <div class="controls active">
              <div class="progress-area">
                <div class="progress-bar">
                  <span></span>
                </div>
              </div>
              <div class="controls-list">
                <div class="controls-left">
                  <span class="icon">
                    <i class="material-icons icon__play">play_arrow</i>
                  </span>
                  <span class="icon">
                    <i class="material-icons icon__volume">volume_up</i>
                    <input type="range" class="volume_range" name="volume_range" min="0" max="100" id="volume_range"></input>
                  </span>
                  <div class="timer">
                    <span class="current">00:00</span> / <span class="duration"></span>
                  </div>
                </div>
                <div class="controls-right">
                  <span class="icon">
                    <i class="material-icons icon__fullscreen">fullscreen</i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="actuality">
    <h2 class="main__title">Немного фактов</h2>
    <div class="actuality__paragraphs">
      {% for fact in actuality %}<p class="actuality__paragraph">{{fact.description}}</p>{% endfor %}
    </div>
  </section>
  <section class="statistics">
    <h2 class="main__title">Немного статистики</h2>
    <div class="statistics__graphics">
    <img src="{% static 'img/social.jpg' %}" alt="photo" class="statistics__graphic"></img>
    <img src="{% static 'img/suicide.jpg' %}" alt="photo" class="statistics__graphic"></img>
    </div>
  </section>
  <section class="board">
    <div class="main__board">
      <div class="main__title">Эксперты в лицах</div>
      <a href="http://{{referer}}/experts/" class="main__redirect-to-all">Посмотреть всех</a>
    </div>
    <div class="board__cards">
      <div class="board__cards_container">
        <div class="card_container">
          <div class="board__card">
            <div class="board__card__img">
              <img src="{% static 'img/photo1.jpg' %}" alt="photo" class="board_img"></img>
            </div>
            <div class="board__card__info">
              <h4 class="board__card__name">Майкл Эванс</h4>
              <p class="board__card__position">Гештальд терапевт</p>
            </div>
          </div>
          <div class="board__card">
            <div class="board__card__img">
              <img src="{% static 'img/photo2.jpg' %}" alt="photo" class="board_img"></img>
            </div>
            <div class="board__card__info">
              <h4 class="board__card__name">Майкл Эванс</h4>
              <p class="board__card__position">Гештальд терапевт</p>
            </div>
          </div>
          <div class="board__card">
            <div class="board__card__img">
              <img src="{% static 'img/photo3.jpg' %}" alt="photo" class="board_img"></img>
            </div>
            <div class="board__card__info">
              <h4 class="board__card__name">Майкл Эванс</h4>
              <p class="board__card__position">Гештальд терапевт</p>
            </div>
          </div>
          <div class="board__card">
            <div class="board__card__img">
              <img src="{% static 'img/photo4.jpg' %}" alt="photo" class="board_img"></img>
            </div>
            <div class="board__card__info">
              <h4 class="board__card__name">Майкл Эванс</h4>
              <p class="board__card__position">Гештальд терапевт</p>
            </div>
          </div>
          <div class="board__card">
            <div class="board__card__img">
              <img src="{% static 'img/photo5.jpg' %}" alt="photo" class="board_img"></img>
            </div>
            <div class="board__card__info">
              <h4 class="board__card__name">Майкл Эванс</h4>
              <p class="board__card__position">Гештальд терапевт</p>
            </div>
          </div>
          <div class="board__card">
            <div class="board__card__img">
              <img src="{% static 'img/photo6.jpg' %}" alt="photo" class="board_img"></img>
            </div>
            <div class="board__card__info">
              <h4 class="board__card__name">Майкл Эванс</h4>
              <p class="board__card__position">Гештальд терапевт</p>
            </div>
          </div>
          <div class="board__card">
            <div class="board__card__img">
              <img src="{% static 'img/photo7.jpg' %}" alt="photo" class="board_img"></img>
            </div>
            <div class="board__card__info">
              <h4 class="board__card__name">Майкл Эванс</h4>
              <p class="board__card__position">Гештальд терапевт</p>
            </div>
          </div>
          <div class="board__card">
            <div class="board__card__img">
              <img src="{% static 'img/photo8.jpg' %}" alt="photo" class="board_img"></img>
            </div>
            <div class="board__card__info">
              <h4 class="board__card__name">Майкл Эванс</h4>
              <p class="board__card__position">Гештальд терапевт</p>
            </div>
          </div>
          <div class="board__card">
            <div class="board__card__img">
              <img src="{% static 'img/photo.jpg' %}" alt="photo" class="board_img"></img>
            </div>
            <div class="board__card__info">
              <h4 class="board__card__name">Майкл Эванс</h4>
              <p class="board__card__position">Гештальд терапевт</p>
            </div>
          </div>
        </div>
      </div>
      <div class='cards__button_h'>
        <button class="cards__button_hide">Скрыть</button>
      </div>
      <div class="cards__button_m active">
        <button class="cards__button_more">Показать еще</button>
        
      </div>
      <div class="return-btn">
        <button class="return-button">
          <img src="{% static '/img/arrow_up.svg'%}" alt="" class="logo__img"></img>
        </button>
      </div>
    </div>
  </section>
</div>
{% endblock %}