.alert-container{
    
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
}

.alert{
    margin-left: 20px;
    width: 90%;
}

.alert.alert-danger .alert-heading{
    margin-bottom: 20px;
    font-size: 20px;
    color: brown;
}

.alert.alert-danger p{
    padding: 10px 15px 30px 15px;
    color: brown;
    background: rgba(255, 0, 0, 0.364);
}

.alert.alert-success .alert-heading{
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(46, 165, 42);
}

.alert.alert.alert-success p{
    padding: 10px 15px 30px 15px;
    color: rgb(46, 165, 42);

    background: rgba(46, 165, 42, 0.367);
}

.alert.alert-info .alert-heading{
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(51, 92, 182);
}

.alert.alert.alert-info p{
    padding: 10px 15px 30px 15px;
    color: rgb(42, 81, 165);

    background: rgba(75, 120, 216, 0.363);

}