.main__title{
  font-size: 24px;
  padding-bottom: 20px;
}

.reset-password__content{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.reset-password__form{
  width: 30%;
  min-width: 400px;
}

.reset-password_form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.reset-password-label{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.reset-password__input{
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.37);
  border-radius: 5px;
  margin-bottom: 15px;
  width: 100%;
  transition: all 0.3s ease;
}

.reset-password__input:focus{
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
}

.reset-password__input_submit{
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(180deg, rgba(128,168,124,1) 0%, rgba(98,140,94,1) 67%);
}

.reset-password__input_submit:hover{
  background: rgb(128,168,124);
}

.reset-password__answer, .reset-password__form, .alert-success, .alert-danger{
  display: none;
}

.reset-password__answer.active, .reset-password__form.active, .alert-success.active, .alert-danger.active{
  display: block;
}

.alert-heading{
  color: azure;
  text-align: center;
  font-size: 24px;
  padding-bottom: 20px;
}

.alert-danger{
  background: rgba(255, 0, 0, 0.322);
  padding: 20px 20px;
  color: red;
}

.alert-success{
  background: rgba(0, 128, 0, 0.322);
  padding: 20px 20px;
  color: green;
}

@media screen and (max-width: 834px){
  

}
@media screen and (max-width: 480px){

  
}