{% extends "base.html" %}

{% load static %}

{% block head %}
<title>Сброс пароля</title>
<link rel="stylesheet" crossorigin href="{% static 'css/user_profile/css/password_reset.css' %}">
{% endblock %}

{% block main %}
<div class="reset-password__content">
    <div class="reset-password__form active">
        <h2 class="main__title">Задайте новый пароль</h2>
        <form action="" method="post" class="reset-password_form">
            {% csrf_token %}
            {{form}}
            {%if form_error%}
            {{form_error}}
            {% endif %}
            <input type="submit" value="Отправить" class="reset-password__input_submit"></input>
        </form>
    </div>
</div>

</body>
</html>
{% endblock %}