{% extends "base.html" %}

{% load static %}

{% block head %}
<title>Ошибка смены пароля</title>
<link rel="stylesheet" crossorigin href="{% static 'css/user_profile/css/password_reset_error.css' %}">
{% endblock %}

{% block main %}
<div class="alert-container">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Ошибка смены пароля</h4>
        <p>Ссылка для смены пароля недействительна или срок ее действия истек. Пожалуйста, запросите новую ссылку.</p>
    </div>
</div>
{% endblock %}

    
